@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');

.homeContainer {
    height: 100vh;
    background-color: #080612;
}

.homeTextContainer {
    margin: auto;
    height: 100%;
    width: 100%;
    padding-top: 15%;
    padding-left: 50%;
    color: white;
    text-align: center;
}

.name {
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-decoration: underline;
}

.wd {
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}