@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #02001f;
    z-index: 99;
    font-family: 'Oswald', sans-serif;
}

.navBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    margin: 1rem;
}

.nav-home {
    font-weight: bold;
    color: white;
}

.nav-toggle,
.nav-close {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: hsl(28, 88%, 62%);
}

.nav-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.nav-list-web {
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.nav-menu {
    position: fixed;
    top: 0;
    right: -200%;
    background-color: #02001f;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
}

.show-menu {
    right: 0;
}

@media screen and (max-width: 1150px) {
    .nav-menu {
      position: fixed;
      top: 0;
      background-color: #02001f;
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      width: 100%;
      height: 100%;
      padding: 6rem 3rem 0;
      transition: right 0.4s;
    }
}

@media screen and (min-width: 1150px) {
    .navBarContainer {
      height: calc(3.5rem + 1rem);
    }

    .nav-toggle,
    .nav-close {
      display: none;
    }
  
    .nav-list {
      flex-direction: row;
      column-gap: 2.5rem;
    }
}