@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');

.aboutContainer {
    height: 100vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.abtTitleContainer {
    text-align: center;
    width: 30vw;
    margin: auto;
}

.abtTitleBackground {
    background-color: #02001f;
    color: white;
    border-radius: 0 50vh 50vh 0;
    height: 50vh;
    width: 30vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

.aboutTitle {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 3.5vw;
    text-align: center;
    padding-top: 13vh;
}

.aboutText {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2vw;
}

.abtTextContainer {
    text-align: center;
    width: 70vw;
    padding: 10vh 15vh 15vh 10vh;
    margin: auto;
}

@media screen and (max-width: 1150px) {
    .aboutTitle {
        padding-top: 16vh;
        font-size: 4vw;
    }

    .aboutText {
        font-size: 3vw;
    }
}